.logo {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background: #000;
}
.title {
  text-align: center;
}
.player {
  width: 80%;
  height: 80%;
  padding: 20px 0;
  margin: 0 auto;
  color: #fff;
}