.logos {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
.logo {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}
.title {
  text-align: center;
}
.player {
  width: 80%;
  height: 80%;
  padding: 20px 0;
  margin: 0 auto;
}

.player .glyphicon-refresh {
  font-size: 30px;
  animation: spin .8s infinite linear;
}

/* styles for rc-slider */
.rc-slider-rail {
  background: rgba(51, 51, 51, 0.9);
}
.player_1 .rc-slider-handle,
.player_1 .rc-slider-handle:hover {
  border: 2px solid #F86749;
}
.player_1 .rc-slider-track {
  background-color: #F86749;
}

.player_2 .rc-slider-handle,
.player_2 .rc-slider-handle:hover {
  border: 2px solid #8478ff;
}
.player_2 .rc-slider-track {
  background-color: #8478ff;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}