.hlsPlayer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
}

.hlsPlayer-video {
  width: 100%;
  height: 100%;
}

.hlsPlayer-preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hlsPlayer-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 5px;
  justify-content: space-around;
  z-index: 100;
  transition: opacity .3s ease;
}

.hlsPlayer-controls.fullscreen {
  opacity: 0;
}

.hlsPlayer-video.paused + .hlsPlayer-controls.fullscreen,
.hlsPlayer-controls.fullscreen:hover {
  opacity: 1;
}

.hlsPlayer-button {
  border: none;
  outline: none;
}

.hlsPlayer-duration {
  margin: 5px 10px;
}

.hlsPlayer-volume {
  flex-basis: 10%;
  margin: 5px 10px;
}

.hlsPlayer-timers {
  white-space: nowrap;
}

.hlsPlayer-playbackMenu {
  position: absolute;
  flex-direction: column;
}